# Ignore specific visual studio code file
.vscode

# Ignore cache files
utils/__pycache__/*

# Ignore log file
log_latest*

# Ignore virtualenv
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class